<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWDn8GUSxuMJB8PFpx5jxJpRdYZkJUVks</string>
	<key>GCM_SENDER_ID</key>
	<string>1029201615882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.labees.app.labees</string>
	<key>PROJECT_ID</key>
	<string>labees-27346</string>
	<key>STORAGE_BUCKET</key>
	<string>labees-27346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029201615882:ios:2f11fa4667a9f2779593f3</string>
</dict>
</plist>